/*Loading Spinner*/
.loader {
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-popup {
  display: inline-block;
  margin-left: 5px;
  border: 2px solid lightgray;
  border-top: 2px solid #d500f9;
  border-bottom: 2px solid #d500f9;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
