boto3
bs4==0.0.1
cmocean==1.2
Fiona==1.7.13
matplotlib==2.2.2
mercantile==1.0.4
netCDF4==1.3.1
numpy===1.15.3
pandas==0.23.3
Pillow==8.1.1
pygrib==2.0.2
pyproj==1.9.5.1
python-dateutil==2.7.2
pytz==2018.4
requests==2.19.1
scipy==1.0.1
Shapely==1.6.4.post2
xarray==0.10.7
