<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>

  <!-- <link rel="stylesheet" href="css/main.css"> -->
  <!-- <link rel="icon" href="images/favicon.png"> -->
</head>

<body>
	<h1>The start of my oceanmapper!</h1>
	<button id="grab-data" type="button">Grab S3 Data</button>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="../scripts/js_scripts/grab_data.js"></script>
  <!-- <script src="js/scripts.js"></script> -->
</body>

</html>